* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #ff795f;
  --color-white: #fff;
  --color-black: #000;
  --color-org-0: #f8f8f8;
  --color-org-1: #f5c8bf;
  --color-org-2: #ffbcaf;
  --color-org-3: #ed8c79;
  --color-org-4: #c46552;
  --color-org-5: #f52c3a;
  --color-org-6: #ba000d;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(255, 0, 0, 0.978);
}

.light-mode {
  --color-primary: #F0FFF0;
  --color-secondary: #009000;
  --color-white: #000;
  --color-black: #fff;
  --color-org-0: #f8f8f8;
  --color-org-1: #f5c8bf;
  --color-org-2: #004953;
  --color-org-3: #ed8c79;
  --color-org-4: #c46552;
  --color-org-5: #f52c3a;
  --color-org-6: #40e0d0;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgb(64,224,208,0.978);
}

body {
  background-color: var(--color-primary);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnime 1s ease-in-out;
          animation: scaleAnime 1s ease-in-out;
}

@-webkit-keyframes scaleAnime {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnime {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 65%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls .active-btn i {
  background-color: var(--color-secondary) !important;
}

.controls .ctrl {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-org-2);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.controls .ctrl i {
  font-size: 1.2rem;
  color: var(--color-org-6);
  pointer-events: none;
}

.controls .ctrl:hover {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
}

.themes {
  position: fixed;
  z-index: 10;
  top: 7%;
  right: 3%;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-org-2);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.themes i {
  font-size: 1.2rem;
  color: var(--color-org-6);
  pointer-events: none;
}

.themes:hover {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-content .left-header .header-shape {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 45% 0, 45% 100%, 0 100%);
          clip-path: polygon(0 0, 45% 0, 45% 100%, 0 100%);
}

.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 3rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}

.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.header-content .right-header .btn-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
  margin-right: 25%;
}

.about-content {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.about-content .btn-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
  margin-left: 25%;
  margin-right: 25%;
}

.about-content #me {
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--color-white);
}

.about-content #me p {
  text-align: center;
  line-height: 50px;
}

.about-content #me p:hover {
  border: 2px solid var(--color-white);
  background: #ffd89b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#19547b), to(#ffd89b));
  background: linear-gradient(to right, #19547b, #ffd89b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--color-primary);
  font-weight: bolder;
}

.educ-container {
  border: 3px solid var(--color-white);
  border-radius: 15px;
  width: 100%;
  height: 70vh;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.educ-container #part {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.educ-container:hover {
  background: #ffd89b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#19547b), to(#ffd89b));
  background: linear-gradient(to right, #19547b, #ffd89b);
}

.educ-container:hover h4, .educ-container:hover h5 {
  color: var(--color-primary);
}

.educ-container #part div h4 {
  font-family: 'Playfair Display', serif;
}

.educ-container #part div h5 {
  opacity: 0.5;
}

.skills-container {
  border: 3px solid var(--color-white);
  width: 100%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills-container #prog-db .progress-title {
  font-size: 17px;
  font-weight: 400;
  margin: 20px 0px;
}

.skills-container #prog-db .progress-outer {
  height: 7px;
  width: 150px;
  background-color: var(--color-white);
}

.skills-container #prog-db .progress-outer .progress-inner {
  background-color: var(--color-secondary);
  height: 6px;
  width: 0px;
  -webkit-box-shadow: 1px 1px 26px 3px var(--color-secondary);
          box-shadow: 1px 1px 26px 3px var(--color-secondary);
}

.skills-container #web .progress-title {
  font-size: 17px;
  font-weight: 400;
  margin: 20px 0px;
}

.skills-container #web .progress-outer {
  height: 7px;
  width: 150px;
  background-color: var(--color-white);
}

.skills-container #web .progress-outer .progress-inner {
  background-color: var(--color-secondary);
  height: 6px;
  width: 0px;
  -webkit-box-shadow: 1px 1px 26px 3px var(--color-secondary);
          box-shadow: 1px 1px 26px 3px var(--color-secondary);
}

.skills-container #others .progress-title {
  font-size: 17px;
  font-weight: 400;
  margin: 20px 0px;
}

.skills-container #others .progress-outer {
  height: 7px;
  width: 150px;
  background-color: var(--color-white);
}

.skills-container #others .progress-outer .progress-inner {
  background-color: var(--color-secondary);
  height: 6px;
  width: 0px;
  -webkit-box-shadow: 1px 1px 26px 3px var(--color-secondary);
          box-shadow: 1px 1px 26px 3px var(--color-secondary);
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid var(--color-secondary);
  height: 75vh;
  width: 100%;
  font-size: large;
  font-weight: 600;
}

.contact-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.contact-container .info p {
  font-size: 1.75rem;
  font-weight: 600;
}

.contact-container .info i {
  font-size: 1.75rem;
  margin-right: 10px;
}

.contact-container .info #last {
  margin-left: 50px;
}

.contact-container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .socials .social {
  z-index: 10;
}

.contact-container .socials .social a {
  margin-left: 15px;
  margin-right: 15px;
}

.contact-container .socials .social a i {
  font-size: 1.75rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact-container .socials .social a i:hover {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  position: relative;
  font-weight: 600;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 10;
}

.main-btn .btn-text {
  padding: 0 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-btn .btn-icon {
  color: var(--color-org-6);
  background-color: var(--color-org-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  z-index: -1;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-btn:hover .btn-icon {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: var(--color-primary);
}

.image {
  height: 560px;
  width: 288px;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.progress-title > p {
  display: inline-block;
}
/*# sourceMappingURL=portfolio.css.map */